@import "tailwindcss";

@theme {
  --breakpoint-*: initial;
  --breakpoint-tablet: 48rem;
  --breakpoint-laptop: 80rem;
  --breakpoint-desktop: 90rem;

  --color-*: initial;
  --color-white: #ffffff;
  --color-dark: #03071e;
  --color-red: #dc2f02;
  --color-blue: #2e93b9;
  --color-green: #94d2bd;
  --color-sand: #e9d8a6;
  --color-yellow: #ffba08;
  --color-orange: #f48c06;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer base {
  /*Transition*/
  * {
    @apply transition duration-300 ease-in-out;
  }

  /*Spaceing*/
  .wrap {
    @apply w-full max-w-9/10 mx-auto;
  }

  /*Typography*/

  p {
    @apply text-xl laptop:text-[2rem] desktop:text-[2.5rem];
  }
}

body {
  font-family: var(--font-satoshi), sans-serif;
}
